@media (max-width:1024px)
{
    #bubble{
        display: none !important;
    }
    .slidericons{
        display: none !important;
    }
    #sloganS{
        display: none !important;
    }
}

@media (min-width:1000px) and (max-width:1225px)
{
    #bubble{
        display: none !important;
    }
    .slidericons{
        display: none !important;
    }
    #sloganS{
        display: none !important;
    }
    .maviBolge{
        width: 970px !important;
        .AcilDurum{
            width: 375px !important;
        }
        #Musteri{
            i{
                left: 50px !important;
            }
        }
    }
    .footerAlan{
        width: 950px !important;
        //left: 50px !important;
        //height: 387px !important;
        .footerMetin{
            width: 474px !important;
        }
    }
    #evdisContact{
        width: 75%;
    }


    .uclu{
        width: 940px !important;
        .buyukFoto{
            width: 306px !important;
        }
    }
    .altili{
        width: 940px !important;
        .ortaFoto{
            width: 183.5px !important;
            margin-bottom: 5px !important;
            &:nth-child(5n+1){
                margin-left: 0px !important;
            }
        }
    }


    .EkipMain{
        width: 900px;
        .doctors{
            width: 300px;
            height: 300px;
            .DrBilgi{
                .doctorFoto{
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }           

}
@media (max-width:999px)
{
    .slide{
        a{
            display: none !important;
        }
    }
    .maviBolge{
        width: 602px !important;
        .menuNav,.DortluAlan{
            display: none;
        }
        .MobilKutu{
            display: block !important;
        }
    }
}
@media (max-width:999px) and (min-width:670px)
{
    .ustFoto{
        height: 185px !important;
        .GaleriBaslik,.sayfaAd,.EkipBaslik{
            position: relative;
            top: 15px;
            left: 45px;
        }
        .GaleriBaslik,.EkipBaslik{
            h1{
                font-size: 45px;
            }
        }
        .EkipBaslik{
            margin-bottom: 70px;
        }
    }
    .EkipMain{
        width: 670px;
        .doctors{
            width: 335px;
            height: 335px;
            .DrBilgi{
                .doctorFoto{
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }   
    .uclu{
        width: 632px !important;
        .buyukFoto{
            width: 311px !important;
            &:nth-child(2n){
                margin-right: 0 !important;
                margin-left: 10px !important;
            }
            &:nth-child(2n+1){
                margin: 0 !important;
            }
        }
    }
    .altili{
        width: 632px !important;
        .ortaFoto{
            width: 207.3px !important;
            height: 119px !important;
            margin-bottom: 5px !important;
            &:nth-child(3n+1){
                margin-left: 0px !important;
            }
        }
    }
    #evdisContact{
        width: 100%;
        h2{
            width: 30%;
        }
    }
}
@media (max-width:669px) and (min-width:320px)
{
    #evdisContact{
        width: 100%;
        h2{
            width: 60%;
        }
        .address{
            margin-bottom: 30px;
        }
        .address,.mailes,.telephone{
            p{
                font-size: 1.8rem;                
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .mailes,.telephone{
            float: none;
            width: 50%;
            margin: 0 auto;
            svg{
                margin: 0 auto;
                float:none;
            }
            p{
                width: 100%;
                text-align: center;
                left: 50%;
                transform: translateX(-50%);
            }
            h4{
                top: 26px;
            }
        }
        .mailes{
            h4{
               // width: 19%;
                left: 50%;
                text-align: center;
                margin: 0 auto;
                 transform: translateX(-50%);
                }
                
            
        }
        .telephone{
            h4{
                //width: 34%;
                text-align: center;
                left: 50%;
                margin: 0 auto;
                transform: translateX(-50%);
                right: 0;
            }
        }
        
    }
    .ustFoto{
        height: 120px !important;
        .sayfaAd{
            position: relative;
            top: 35px;
            left: 20px;
            font-size: 14px;
            i{
                font-size: 12px;
            }
        }
        .GaleriBaslik,.EkipBaslik{
            position: relative;
            top: 15px;
            left: 25px;
            h1{
                font-size: 35px;
                margin: 0;
            }
        }
        .EkipBaslik{
            margin-bottom: 20px;
            h1{
                font-size: 27px !important;
            }
        }
    }
    .EkipMain{
        width: 420px;
        .doctors{
            width: 210px;
            height: 240px;
            .DrBilgi{
                width: 210px;
                .doctorFoto{
                    width: 160px;
                    height: 160px;
                    &:hover .detail{
                        display: none;
                    }
                }
            }
        }
    }   
    .uclu{
        width: 381.7px !important;
        .buyukFoto{
            //width: 311px !important;
           
           margin:0 0 10px 0 !important;
        }
    }
    .altili{
        width: 381.7px !important;
        .ortaFoto{
            width: 188.35px !important;
            margin-bottom: 5px !important;
            &:nth-child(2n+1){
                margin-left: 0px !important;
            }
        }
    }
}
@media (min-width:669px)
{
    .Modal{
        display: none !important;
    }
    body{
        overflow-y: scroll !important;
    }
}
@media (max-width:425px)
{
    .ustFoto{
        height: 90px !important;
        .sayfaAd{
            position: relative;
            top: 35px;
            left: 20px;
            font-size: 11px;
            i{
                font-size: 12px;
            }
        }
        .GaleriBaslik,.EkipBaslik{
            position: relative;
            top: 15px;
            left: 25px;
            h1{
                font-size: 22px;
                margin: 0;
            }
        }
        .EkipBaslik{
            margin-bottom: 0px;
            span{
                font-size: 12px !important;
            }
        }
    }
    .EkipMain{
        width: 320px;
        .doctors{
            width: 320px;
            height: 260px;
            .DrBilgi{
                width: 320px;
                .doctorFoto{
                    width: 175px;
                    height: 175px;
                    &:hover .detail{
                        display: none;
                    }
                }
            }
        }
    }   
    .uclu{
        width: 295.7px !important;
        .buyukFoto{
           width: 295.7px !important;
           
           margin:0 0 10px 0 !important;
        }
    }
    .altili{
        width: 295.7px !important;
        .ortaFoto{
            width: 145.35px !important;
            margin-bottom: 5px !important;
            &:nth-child(2n+1){
                margin-left: 0px !important;
            }
        }
    }
}
@media (max-width:999px) and (min-width:610px)
{
    .slide{
        a{
            display: none !important;
        }
    }
    .SliderRev{
        height: 350px !important;
    }
    .maviBolge{
        width: 602px !important;
        .menuNav,.DortluAlan{
            display: none;
        }
        .MobilKutu{
            display: block !important;
        }
    }
    .footerAlan{
        width: 695px !important;
        .footerMetin{
            width: 424px !important;
            h3{
                font-size: 23px;
            }
            p{
                font-size: 15px;
            }
        }
        .footerImg{
            width: 38%;
            position: relative;
            top: 80px;
            img{
                width: 100%;
            }
        }
    }


    
}
@media (max-width:609px) and (min-width:300px)
{
    .SliderRev{
        height: 184px  !important;
    }
    .maviBolge{
        width: 300px !important;
        top: -10px !important;
        .MobilKutu{
            &:nth-child(1)
            {
                margin-bottom: 5px;
            }
        }
    }
    .footerAlan{
        width: 385px !important;
        margin: 0 auto;
        text-align: center;
        left: 0 !important;
        .footerMetin{
            width: 385px !important;
        }
        .footerImg{
            display: none;
        }
    }
}
@media (max-width:375px)
{
    .SliderRev{
        height: 159px !important;
    }
    .footerAlan{
        width: 90% !important;
        margin: 0 auto;
        text-align: center;
        left: 0 !important;
        .footerMetin{
            width: 100% !important;
        }
        .footerImg{
            display: none;
        }
    }
}
@media (max-width:320px)
{
    .SliderRev{
        height: 131px !important;
    }
    // .footerAlan{
    //     width: 250px !important;
    //     // .footerMetin{
    //     //     width: 250px !important;
    //     // }
    // }
    .maviBolge{
        width: 205px !important;
        .MobilKutu{
            width: 205px !important;
            height: 210px !important;
            .baslik{
                padding-top: 15px !important;
            }
            table{
                top: 65px !important;
                left: 7px !important;
                width: 190px !important;
            }
        }
    }
    .okayNav-header a{
        width: 65% !important;
        img{
            width: 100%;
        }
    }
}
@media (min-width:425px) and (max-width:785px) 
{
    .okayNav-header a{
        margin-left: 0 !important;
    }
    .okayNav-header nav{
        margin-right: 0 !important;
    }
}